@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #f0f0f0;
}

.container {
  bottom: 4%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, 60px);
  position: absolute;
  pointer-events: none;
}

h1 {
  font-family: 'Clash Display', sans-serif;
  font-size: 16.5vw;
  line-height: 1em;
  opacity: 0.95;
  color: white;
  user-select: none;
  pointer-events: none;
  opacity: 0.3;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.65vw;
  user-select: none;
  pointer-events: none;
  position: relative;
  bottom: 60px;
  left: 0.8%;
  line-height: 0em;
  font-weight: 100;
  color: white;
}

h2 > a {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 5%;
  left: 3%;
  margin: 0;
  padding: 0;
  font-size: 1.2vw;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
  pointer-events: all;
  transition: all 0.4s ease-in-out;
}

h2 > a:hover {
  color: white;
}
